body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}




/* Estilos de la navegación */

nav {
    background: linear-gradient(to right, rgb(161, 87, 162), rgb(99, 105, 136));
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav a {
        color: #fff;
    }

/* Estilos del hero */

.hero {
    background-image: url('https://wallpaperaccess.com/full/4525229.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    color: navajowhite;
    background-color: #333;
}

#lblBienvenida {
    color: white;
    -webkit-text-stroke: 2px #000000;
    font-weight: 1000;
}

#lblMensaje {
    color: white;
    font-size:30px;
    -webkit-text-stroke: 2px #000000;
    font-weight: 1000;
}


.dropdown-text {
    margin-top:4px;
    margin-right:50px;
}

#imgPfp {
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top:0px;
}

.dropdown-text:hover{
    cursor:pointer;
}

.dropdown-list {
    display:none ;
}

.dropdown-list li:hover{
   cursor:pointer;
}

.show-dropdown {
    display: block;
}
